*{
  padding: 0px;
  margin: 0px;
}
body{
  font-family: Arial, Helvetica, Sans-Serif;
}
header{
  text-align: center;
}
div#img1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url('../imagens/foto001.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  width: 100vw;
  height: 900px;
}
#text1{
  height: 200px;
  width: 700px;
  padding: 20px 0px;
}
div#text1 > h1{
  font-size: 5em;
  text-shadow: 1.5px 1.5px black;
}
div#text1 > p{
  font-size: 1.7em;
  text-shadow: 1.5px 1.5px black;
}
section#prin1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
section#prin1 > p{
  font-size: 3em;
  text-indent: 1.6em;
  text-align: justify;
  width: 70vw;
  padding: 100px 30px;
}

section#prin2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #201c1c;
  height: 800px;
  width: 100vw;
}
#prin2 > .box2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 600px;
}
#text{
  color: white;
  min-width: 300px;
  max-width: 400px;
  height: 480px;
  margin-right: 20px;
  font-size: 1.4em;
}
#text > p{
  margin-top: 10px;
}
#text > h1{
  font-size: 1.5em;
}
.box2 > .box3{
  background-image: url('../imagens/foto003.jpg');
  background-size: cover;
  background-position: right center;
  
  height: 500px;
  min-width: 300px;
  max-width: 90vw;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 200px;
  width: 100vw;
}
footer > #box3{
  text-align: center;
  height: 45px;
  width: 100vw;
  margin-top: 100px;
}
.img1{
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
#box4{
  margin-left: 70px;
  height: 200px;
}
#box4 > h1{
  padding-top: 20px;
  font-size: 3em;
}
#box4 > ul{
  columns: ;
  list-style: none;
}
ul > li{
  padding: 4px 0px;
}
li > a{
  font-size: 1.7em;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 650px){
  section#prin1{
    height: 60vh;
  }
  section#prin1 > p{
    font-size: 1em;
  }
  section#prin2{
    display: block;
    height: 1020px;
  }
  
  #prin2 > .box2{
    display: block;
    height: 450px;
    margin: 0px 0px 10px 20px;
    width: 90vw;
    padding: 20px 0px;
  }
  footer{
    display: block;
  }
  div#box4{
    padding-bottom: 100px;
    text-align: center;
    margin: auto;
  }
  div#box3{
    margin: 0px;
    width: 100vw;
    text-align: center;
  }
}