@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
  padding: 0px;
  margin: 0px;
}
body{
  font-family: Arial, Helvetica, Sans-Serif;
}
header{
  text-align: center;
}
div#img1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url('../imagens/foto001.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  width: 100vw;
  height: 900px;
}
#text1{
  height: 200px;
  width: 700px;
  padding: 20px 0px;
}
div#text1 > h1{
  font-family: 'Arsenal SC', Sans-Serif;
  font-size: 5em;
  text-shadow: 1.5px 1.5px black;
}
div#text1 > p{
  font-size: 1.7em;
  text-shadow: 1.5px 1.5px black;
}
#container{
  height: 400px;
}
div#container > #box1 > h1{
  text-align: center;
  font-size: 3em;
  margin-top: 30px;
}
div#container > #box2, #box3 > p.name{
  font-size: 1.5em;
  text-align: center;
  padding-right: 32px;
}
section#box2 > p > .img{
  width: 70px;
  height: 70px;
  margin-left: 80px;
  padding-top: 10px;
  padding-left: 20px;
}
section#box3 > p > .img{
  width: 70px;
  height: 70px;
  margin-left: 80px;
  padding-top: 10px;
}
section#prin2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #201c1c;
  height: 800px;
  width: 100vw;
}
#prin2 > .box2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 600px;
}
#text{
  color: white;
  min-width: 300px;
  max-width: 400px;
  height: 480px;
  margin-right: 20px;
  font-size: 1.4em;
}
#text > p{
  margin-top: 10px;
}
#text > h1{
  font-size: 1.5em;
}
.box2 > .box3{
  background-image: url('../imagens/foto003.jpg');
  background-size: cover;
  background-position: right center;
  height: 500px;
  min-width: 300px;
  max-width: 90vw;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 400px;
  width: 100vw;
}
footer > #box3{
  text-align: center;
  height: 45px;
  width: 100vw;
  margin-top: 100px;
}
.img1{
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.box5 > p{
  display: none;
}
.box5:hover > p{
  display: block;
  background-color: green;
  color: white;
  font-size: 1.5em;
  width: 280px;
  padding: 10px;
  border-radius: 50px;
  margin: auto;
}
.box4{
  margin-left: 70px;
  height: 200px;
}
.box4 > h1{
  padding-top: 20px;
  font-size: 3em;
}
.box4 > ul{
  columns: ;
  list-style: none;
}
ul > li{
  padding: 4px 0px;
}
li > a{
  font-size: 1.7em;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 650px){
  div#text1 > h1{
    font-family: 3.3em;
  }
  div#container{
    display: block;
    height: 50vh;
  }
  div#container > section#box1 > h1{
    margin-top: 30px;
    font-size: 1.8em;
  }
  section#box2{
    margin: 0px 50px;
  }
  section#box2 > p > .img{
    display: block;
    width: 25px;
    height: 25px;
    padding-right: 80px;
  }
  section#box3{
    margin: 0px 70px;
    padding: 0px;
  }
  section#box3 > p > .img{
  display: block;
  width: 25px;
  height: 25px;
  }
  div#container > #box2, #box3 > p.name{
    font-size: 1.2em;
    text-align: center;
  }
  div#container > #box3 > p.name1{
    font-size: 1.2em;
    margin-right: 10px;
  }
  section#prin2{
    display: block;
    height: 1020px;
  }
  
  #prin2 > .box2{
    display: block;
    height: 450px;
    margin: 0px 0px 10px 20px;
    width: 90vw;
    padding: 20px 0px;
  }
  footer{
    display: block;
  }
  div.box4{
    padding-bottom: 100px;
    text-align: center;
    margin: auto;
  }
  div#box3{
    margin: 0px;
    width: 100vw;
    text-align: center;
  }
}